@import "tailwindcss";

@theme {
  --color-bg: #121212;
  --color-text: #e0e0e0;
  --font-sans: "Inter", sans-serif;
}

/* Uso automático de utilidades generadas */
body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-sans);
}
